.Practice{
    margin-right: 0%;
    float: right;
}
h2{
    float: left;
}

.Top{
    height: 800px;
}

.Player{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 9%;
}

#download{
    color: azure;
    font-size: 12px;
}

.btn-download{
    margin-left: 5px;
    padding: 10px;
    color: azure;
    background-color: chocolate;
}
